* {
    box-sizing: border-box;
    position: relative;
    font-family: "Roboto", sans-serif;
    color: #fff9ed;
}

body {
    background-color: #295266;
}

#timer {
    display: block;
    font-size: 150px;
    text-align: center;
    margin: 50px;
}

.button {
    border-radius: 100px;
    border: none;
    font-size: 60px;
    cursor: pointer;
}

.button:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.069) 0 0);
}

#startButton {
    display: block;
    background-color: #4795cce6;
    width: 400px;
    height: 100px;
    margin: auto;
    margin-top: 75px;
}

#stopButton {
    background-color: #cc5247d9;
    width: 300px;
    height: 100px;
    display: none;
    left: 45px;
}

#finishButton {
    background-color: #64b85cdb;
    width: 300px;
    height: 100px;
    display: none;
    left: 60px;
}

#input {
    width: 600px;
    height: 25px;
    border-radius: 50px;  
}

#input::-webkit-slider-thumb {
  width: 40px; 
  height: 40px;
}

.slider {
    appearance: none;
    background: #d3d3d3;
    outline: none;
    opacity: 0.6;
    margin: auto;
    display: block;
}

.slider::-webkit-slider-thumb {
  appearance: none;
  width: 40px; 
  height: 40px;
  border-radius: 50%; 
  cursor: pointer;
  background-color: #19b2ffe5;
}

#input::-webkit-slider-thumb:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.069) 0 0);
}

#timerAndButtonsContainer {
    width: 700px;
    height: 500px;
    margin: auto;
}

#progressBarSection {
    width: 960px;
    height: 400px;
    background-color:#2e5f77f0;
    margin: auto;
    overflow-x: auto;
    white-space: nowrap;
    scrollbar-color: #fff9ed2f transparent;
    padding-top: 25px;
    border-radius: 5px;
}

.progressBar {
    background-color:#d3d3d3ec;
    height: 40px;
    border-radius: 40px;
    margin-top: 10px;
    display: inline-block
}

.progressBar:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.069) 0 0);
}

.day {
    display: block;
    height: 55px;
    background-color: transparent;
}

.day > * {
    vertical-align:middle;
}

.date {
    font-family: "Roboto mono", monospace;
    padding-top: 10px;
    display: inline-block;
    background-color: transparent;
    padding-right: 10px;
    padding-left: 10px;
}

.time {
  width: 80px;
  height: 30px;
  background-color: #2e2e33c9;
  display: none;
  margin: auto;
  position: relative;
  text-align: center;
  top: -35px;
  padding-top: 5px;
}

.progressBar:hover > :first-child {
  display: block;
}

#editBarScreen {
    display: none;
    width: 400px;
    height: 230px;
    background-color: rgb(49, 118, 153);
    position: absolute;
    left: 50%;
    top: 45%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    padding-top: 10px;
}

#deleteButton {
    border: none;
    width: 300px;
    height: 50px;
    border-radius: 5px;
    position: relative;
    transform: translate(-50%, -50%);
    margin-left: 50%;
    top: 65px;
    font-size: 20px;
    background-color: #2d5265;
}

#exitButton {
    border: none;
    transform: translate(-50%, -50%);
    display: inline;
    top: 15px;
    left: 375px;
    background-color: transparent;
    color: #a51d24;
    font-size: 30px;
    width: 40px;
    height: 40px;
}

#editBarScreenHeader {
    appearance: none;
    background-color: transparent;
    display: inline;
    margin-left: 100px;
}

#barTime {
    font-size: 20px;
    position: relative;
    display: block;
    text-align: center;
}

#barTimeValue {
    font-family: "Roboto mono", monospace;
    font-weight: 500;
}

#barSlider {
    position: relative;
    margin: auto;
    width: 225px;
    height: 12.5px;
    border-radius: 25px;
    display: block;
    margin-top: -5px;
}

#barSlider::-webkit-slider-thumb {
  width: 20px; 
  height: 20px;
  border-radius: 50%; 
}